# macOS
.DS_Store
.AppleDouble
.LSOverride

# Logs
*.log
npm-debug.log*

# Editor
.vscode/
.idea/
*.swp
*.swo

# Dependencias
node_modules/

# Archivos de sistema Windows
Thumbs.db
ehthumbs.db
Desktop.ini
